{% extends 'chat/base.html' %}
{% load static %}
{% block head %}
    <title>{{ user.full_name }}</title>
{% endblock %}
{% block body %}
    {% include 'client_navbar.html' %}


    <div class="container">

        <!-- the chat box -->
        <div class="container bg-white border shadow"
             style="height: 80vh; overflow-y: auto;" id="chatBox">
            <!-- User info-->
            <div class="row shadow-sm pb-2 pt-2">
                <div class="col-6 border-right">
                    <img src="{% static 'chat/img/operator_human.png' %}"
                         style="height: 24px;">
                    <span class="txt-md text-left"
                          id="fullnameSpan">
                                    -
                                </span>
                </div>
                <div class="col-6">
                    <span class="txt-md text-left" id="emailSpan">
                        -
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control"
                       placeholder="Ask a question here..."
                       id="inputBox"
                       maxlength="255">
            </div>
        </div>

    </div>

    <span id="email" style="display:none;">{{ user.email }}</span>
    <span id="full_name" style="display:none;">{{ user.full_name }}</span>
    {% include 'footer.html' %}
    <script src="{% static 'chat/js/client.js' %}"></script>
    {% include 'script_links.html' %}
{% endblock %}