{% extends 'chat/base.html' %}
{% load static %}
{% block head %}
    <title> OperatorFullname</title>
{% endblock %}
{% block body %}

    <div class="container-fluid" style="max-width: 1580px!important;">
        <div class="row">
            <div class="col-3 border"
                 style="height: 84vh; overflow-y: auto;" id="left-col">
                <!-- message boxes will be added here by the js-->
            </div>
            <div class="col-9">
                <div class="container">

                    <!-- the chat box -->
                    <div class="container bg-white border shadow"
                         style="height: 80vh; overflow-y: auto;" id="chatBox">
                        <!-- User info-->
                        <div class="row shadow-sm pb-2 pt-2">
                            <div class="col-4 border-right">
                                <span class="txt-md text-left"
                                      id="fullnameSpan">
                                    client fullname
                                </span>
                            </div>
                            <div class="col-4 border-right">
                                <span class="txt-md text-left" id="emailSpan">
                                    client mail
                                </span>
                            </div>
                            <div class="col-4">
                                <span class="text-sm text-left" id="phoneSpan">
                                    client phone
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control"
                                   placeholder="Ask a question here..."
                                   id="inputBox"
                                   maxlength="255">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    <script src="{% static 'chat/js/operator.js' %}"></script>
    {% include 'script_links.html' %}
{% endblock %}