{% extends 'client/base.html' %}

{% block head %}
    <title>{{ clinic.name }}</title>
{% endblock %}

{% block body %}
    <div class="container border-bottom">
        <div class="row" style="max-height: 400px">
            <div class="col-6">
                <img class="img-fluid"
                     src="{{ clinic.picture.url }}">
            </div>
            <div class="col-6 pt-md-2 pt-lg-3 pt-xl-5">
                <p class="txt-xl font-weight-bold">
                    {{ clinic.name }}
                </p>
                <span class="txt-md"> Schedule:</span>
                <p class="txt-xl">
                    {{ clinic.start_time }} - {{ clinic.end_time }}
                </p>
                <span class="txt-md">
                    {{ clinic.extra_details }}
                </span>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row pt-5">
                <p class="txt-xl mx-auto">
                    Contact Us:
                </p>
            </div>
        </div>
    </div>
    <div class="container border-bottom">
        <hr>
        <div class="row pt-5 pb-3">

            <a class="btn btn-primary text-white shadow-sm mx-auto"
               href="tel:{{ clinic.phone }}">
                <i class="fas fa-phone txt-md"></i>
                <span class="txt-lg">{{ clinic.phone }}</span>
            </a>

        </div>
        <div class="row pt-3 pb-5">
            <p class="txt-lg mx-auto">{{ clinic.address }}</p>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row pt-5">
                <p class="txt-xl mx-auto">
                    Our Specializations:
                </p>
            </div>
        </div>
    </div>
    <div class="container border-bottom">
        <hr>
        <div class="row pt-5 pb-2">
            {% for s in specializations %}
                {% if s.picture %}
                    <a class="m-auto text-center" style="color:black"
                       href="{% url 'client:specialization_detail' s.id %}">
                        <img class="img-fluid" alt="{{ s.name }}"
                             src="{{ s.picture.url }}"
                             style="width: 65px">

                        <p class="txt-lg">{{ s.name }}</p>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row mt-5 pt-5 pb-5">
                <p class="txt-xl mx-auto">
                    Schedule an appointment with one of our doctors:
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <div class="row ml-5">
            {% for user, profile in doctors %}
                <a class="text-center m-5"
                   href="{% url 'client:doctor_detail' user.id profile.id %}">
                    <div>
                        {% if profile.picture %}
                            <img src="{{ profile.picture.url }}"
                                 class="img-thumbnail"
                                 alt="{{ user.full_name }}">
                        {% endif %}
                    </div>
                    <span class="txt-md font-weight-bold text-dark">
                        {{ user.full_name }}
                    </span>
                    <p class="txt-md text-dark">
                        {{ profile.specialization.name }}
                    </p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}