{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T.C. | Reset Password</title>
    {% include 'header_links.html' %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">
</head>
<body>
<div class="container txt-md">
    <div class="row" style="margin-top: 16rem;">
        <div class="mx-auto">
            <div class="card bg-light mb-3 shadow-sm" style="min-width: 28rem;">
                <h4 class="card-header txt-lg">
                    Reset Password
                </h4>
                <div class="card-body">
                    <p class="card-text">Please enter your new password twice so
                        we can verify you typed it in correctly.</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit"
                               class="btn btn-primary btn-block txt-md"
                               value="Update Password">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% include 'copyright.html' %}
{% include 'script_links.html' %}
</body>
</html>