{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T.C. | Success</title>
    {% include 'header_links.html' %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">
</head>
<body>
<div class="container txt-md">
    <div class="row" style="margin-top: 16rem;">
        <div class="mx-auto text-center w-100">
            <div class="w-100 alert alert-success">
                Your password has been set. You may go ahead and log in now.
            </div>
            <a class="btn btn-primary mt-3 shadow txt-lg" style="min-width: 8rem"
               href="{% url 'accounts:login' %}">
                Log In
            </a>
        </div>
    </div>
</div>
{% include 'copyright.html' %}
{% include 'script_links.html' %}
</body>
</html>