{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T.C. | Reset Password</title>
    {% include 'header_links.html' %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">
</head>
<body>
<div class="container txt-md">
    <div class="row" style="margin-top: 16rem;">
        <div class="mx-auto text-center w-100">
            <div class="w-100 alert alert-success">
                We’ve emailed you instructions for setting your password, if an
                account exists with the
                email you entered. You should receive them shortly.
            </div>
            <div class="w-100 alert alert-info mt-2">
                If you don’t receive an email, please make sure you’ve entered
                the address you registered
                with, and check your spam folder.
            </div>
        </div>
    </div>

</div>
{% include 'copyright.html' %}
{% include 'script_links.html' %}
</body>
</html>