{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm"
     style="z-index: 10;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'client:dashboard' %}">
            <img src="{% static 'images/LOGO.svg' %}" width="55" height="55"
                 class="d-inline-block align-top"
                 alt="" loading="lazy">
            <span class="logo-text">
         <span class="hover-blue">TRUST CLINIC</span>
      </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="true"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse txt-md" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link active border-right" href="">
                    <span class="hover-blue">Doctors</span>
                </a>
                <a class="nav-link active border-right" href="">
                    <span class="hover-blue">Services</span>
                </a>
                <a class="nav-link active border-right" href="">
                    <span class="hover-blue">Clinics</span>
                </a>
                <a class="nav-link active border-right" href="">
                    <span class="hover-blue">My Appointments</span>
                </a>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#"
                       id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="hover-blue">My Account</span>
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="#">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>