{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm"
     style="z-index: 10;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'client:dashboard' %}">
            <img src="{% static 'images/LOGO.svg' %}" width="55" height="55"
                 class="d-inline-block align-top"
                 alt="" loading="lazy">
            <span class="logo-text">
         <span class="hover-blue">TRUST CLINIC</span>
      </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="true"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse txt-md" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link active border-right"
                   href="{% url 'client:doctors' %}"
                   title="Our Doctors">
                    <i class="fas fa-user-md fa-2x text-primary"></i>
                </a>
                <a class="nav-link active border-right"
                   href="{% url 'client:specializations' %}"
                   title="Specializations">
                    <i class="fas fa-microscope fa-2x text-primary"></i>
                </a>
                <a class="nav-link active border-right"
                   href="{% url 'client:clinics' %}"
                   title="Our Clinics">
                    <i class="far fa-hospital fa-2x text-primary"></i>
                </a>
                <a class="nav-link active border-right"
                   href="{% url 'chat:client_session' %}"
                   title="Chat Support">
                    <i class="fas fa-comment-medical fa-2x text-primary"></i>
                </a>
                <a class="nav-link active border-right"
                   href="{% url 'client:appointments' client_pk=user.id %}"
                   title="Appointments">
                    <i class="far fa-calendar-alt fa-2x text-primary"></i>
                </a>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active"
                       href="#"
                       id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"
                       title="My Account">
                        <i class="fas fa-user-cog fa-2x text-primary"></i>
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"
                           href="{% url 'accounts:edit_profile' pk=user.id %}">Edit
                            Profile</a>
                        <a class="dropdown-item"
                           href="{% url 'accounts:change_password' %}">
                            Change Password
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{% url 'accounts:logout' %}">Log out</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>