a.tip {
    text-decoration: none
}
a.tip:hover {
    cursor: help;
    position: relative
}
a.tip .card {
    display: none
}
a.tip:hover .card {
    display: block;
    z-index: 100;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}